.tabSet {
  margin: 0 auto;

  .tabItems {
    display: flex;
  }

  .modeBBtn,
  .tabBtn {
    flex: 1 1 auto;
    font-size: 1em;
    height: 2.8em;
    text-align: center;
    border: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background: #ddd;
    cursor: pointer;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;
    }

    &.active {
      cursor: default;
      background: #00a4f9;
      color: #fff;
    }
  }

  .tabContent {
    display: none;
    position: relative;
    padding: 15px;
    border: #bbb 1px solid;

    @include screen('mobile') {
      padding: 0;
      margin-bottom: 10px;
      border: none;
    }

    &.active {
      display: block;
    }

    a:focus {
      outline: none;
      // box-shadow: 0 0px 0px 2px $aFocus inset;

      @include screen('mobile') {
        box-shadow: none;
      }
    }

    .content {
      ul {
        margin: 0;
      }
    }
  }

  .modeBBtn {
    width: 100%;
    margin: 0;
    display: none;
  }

  &.modeB {
    .tabItems {
      display: none;
    }

    .tabContent {
      display: block;

      .content {
        display: none;

        a:focus-visible {
          outline: $aFocus 2px solid;
        }
        // &:nth-of-type(1) {
        //   display: block;
        // }
      }
    }

    .modeBBtn {
      display: block;
    }
  }
}
.form_download_block {
  .tabSet {
    .tabItems {
      border-bottom: 4px solid $color-word;
      button.tabBtn {
        background: transparent;
        font-size: 1.375em;
        height: 2.8em;
        font-weight: bold;
        &.active {
          cursor: default;
          background: transparent;
          color: $primaryColor;
          border-bottom: 6px solid $primaryColor;
        }
      }
    }
    .tabContentGroup {
      .tabContent {
        padding: 0;
        border: none;
      }
    }
  }
}
