@charset "utf-8";

// .tt{ color: #222; }
.cp {
  .container {
    position: relative;
    &:before {
      content: '';
      border: 30px solid $primaryColor;
      border-color: $primaryColor $primaryColor transparent transparent;
      position: absolute;
      right: 0;
      top: -30px;
    }
  }
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 500px;
    background: #f1f1f1;
    overflow: hidden;
    padding: 10px;

    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    figcaption {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  .cppic_block {
    width: 50%;
    max-width: 500px;
    float: left;
    margin: 0px 2em 1em 0;
    position: relative;
    // outline: 1px solid #eee;

    @include screen('mobile') {
      width: 100%;
      max-width: 100%;
      margin: 0 0 2em;
      float: none;
    }
    .cppic_Slider {
      .pic_list {
        position: relative;
        // @include aspect-ratio(4, 3);
        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 350px;
          margin: auto;
        }
        .num {
          position: absolute;
          right: 20px;
          bottom: 20px;
          z-index: 2;
          padding: 0.3em 1em;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50px;
        }
        .floor_plan_btn {
          background-color: #000;
          width: 46px;
          height: 46px;
          position: absolute;
          left: 20px;
          bottom: 20px;
          border-radius: 20px;
          font-size: 0;
          transition: 0.5s;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 9;
          img {
            width: 20px;
            height: 20px;
            transition: 0.5s;
          }

          &:hover {
            width: 48px;
            height: 48px;
            background-color: $secondaryColor;
            img {
              width: 22px;
              height: 22px;
            }
          }
        }
      }
      // 箭頭
      .slick-prev,
      .slick-next {
        background-color: rgba(0, 0, 0, 0.3);
        width: 50px !important;
        height: 50px !important;
        border-radius: 50px;
      }
      .slick-next {
        right: 20px;
      }
      .slick-prev {
        left: 20px;
      }
    }
  }
  table {
    background: #fff;
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
    &:hover {
      text-decoration: underline;
    }
  }
  ol {
    li {
      span {
        font-weight: bold;
      }
    }
  }
  p {
    span {
      font-weight: bold;
    }
  }
}
// 活動條列
.cp_activity {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
  overflow: hidden;
  li {
    word-break: break-all;
    padding-left: 110px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;

    span {
      margin-left: -110px;
      display: inline-block;
      margin-right: 10px;
      font-weight: bold;
      min-width: 100px;
      padding-left: 25px;
      position: relative;
      &:before {
        content: '';
        border: 7px solid #f9a01d;
        border-color: #f9a01d transparent transparent #f9a01d;
        position: absolute;
        left: 0;
        top: 7px;
      }
    }
  }
}

// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #eee;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.32em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
    span {
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          &:hover,
          &:focus {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          &:hover,
          &:focus {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          &:hover,
          &:focus {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          &:hover,
          &:focus {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          &:hover,
          &:focus {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          &:hover,
          &:focus {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          &:hover,
          &:focus {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          &:hover,
          &:focus {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          &:hover,
          &:focus {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          &:hover,
          &:focus {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}

// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 1px solid $primaryColor;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #eee;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}

.publish_info {
  line-height: 1.5em;
  list-style: none;
  padding: 0;
  margin: 0 0 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  @extend %clearfix;
  box-sizing: border-box;

  li {
    flex: 0 0 auto;
    margin-bottom: 0.5em;
    margin-right: 0.8em;
    border: 1px solid #999;
    border-radius: 20px 0 20px 0;
    padding: 0.3em 1em;
    border-radius: 50px;
    background-color: #fff;
    // box-shadow: $secondaryColor 0px 0px 0px 2px;
    position: relative;

    &:only-child {
      margin-bottom: 0em;
      margin-right: 0;
    }

    @include screen('xs_mobile') {
      flex: 1 1 100%;
      margin-right: 0;
    }
  }
}
